@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --clr-primary-50: #eef2ff;
  --clr-primary-1: #e0e7ff;
  --clr-primary-2: #c7d2fe;
  --clr-primary-3: #a5b4fc;
  --clr-primary-4: #818cf8;
  --clr-primary-5: #6366f1;
  --clr-primary-6: #4f46e5;
  --clr-primary-7: #4338ca;
  --clr-primary-8: #3730a3;
  --clr-primary-9: #312e81;
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-black: #222;
  --clr-mainBack: #f1f5f8;
  --clr-mainBack2: #f8f9fa;
  --clr-darkmode1: #181818;
  --clr-darkmode2: #282c35;
  --clr-dark1: #15202B;
  --clr-dark2: #192734;
  --clr-dark3: #343a40;
  --clr-warning: #ffc107;
  --clr-info: #17a2b8;
  --clr-gold: #c59d5f;
  --clr-blue: #007bff;
  --clr-red: #dc3545;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green: #28a745;
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --headingFont: 'Quicksand';
  --bodyFont: 'Cabin', Sans-Serif;
}
/**/
.btn-s { @apply px-1 py-1.5 text-sm tracking-normal }
.btn-m { @apply px-1.5 py-2 text-[15px] tracking-wide }
.btn-l { @apply px-2 py-4 text-base tracking-wider }

body {
  line-height: 1.5;
  color: var(--clr-black);
  font-family: var(--bodyFont);
  background-color: var(--clr-white);
}
button, input, textarea { font-family: var(--bodyFont); }
h1,h2,h3,h4,h5 { font-family: var(--headingFont); }

.page { min-height: calc(100vh - 5rem); }
.full-page { min-height: calc(100vh - 5rem - 5rem); }
.section { padding: 64px 0; }

.hideScroll {
    opacity: 0;
    visibility: hidden;
}
.showScroll {
    opacity: 1;
    visibility: visible;
}  
.refresh-btn {
    color: var(--clr-primary-9);
    background-color: var(--clr-primary-1);
    letter-spacing: .5px;
}
.refresh-btn:hover {
    color: var(--clr-primary-1);
    background-color: var(--clr-primary-9);
}
.bg-filler {
    margin-top: -5rem;
}
@media(max-width: 991px){
    .bg-filler {
        margin-top: 0px;
    }
    .page {
        min-height: calc(100vh - 5rem - 5rem);
    }
}
  
/*sidebar*/
.sidebar {
    opacity: 0;
    transform: translateX(-100%);
}
@media (max-width: 767px){
    .show-side {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/*defaults*/
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
ul { list-style-type: none; }
a { text-decoration: none; }
hr {
	border: none;
	border-top: 1px solid var(--clr-grey-8);
}
h1, h2, h3, h4 {
  letter-spacing: 1.6px;
  line-height: 1.25;
  margin-bottom: 12px;
}
h1 { font-size: 40px; }
h2 { font-size: 32px; }
h3 { font-size: 24px; }
h4 { font-size: 20px; }
h5 { font-size: 14px; }
@media screen and (min-width: 800px) {
  h1 { font-size: 48px; }
  h2 { font-size: 40px; }
  h3 { font-size: 32px; }
  h4 { font-size: 24px; }
  h5 { font-size: 18px; }
  body { font-size: 16px; }
  h1, h2, h3, h4 { line-height: 1; }
}

.loading {
	border-radius: 50%;
	border: 3px solid #ccc;
	border-top-color: var(--clr-primary-5);
	animation: spinner 0.6s linear infinite;
}
.loading-s {
	width: 1rem;
	height: 1rem;
}
.loading-m {
	width: 2rem;
	height: 2rem;
}
.loading-l {
	width: 3rem;
	height: 3rem;
}
.loading-xl {
	width: 6rem;
	height: 6rem;
}
@keyframes spinner {
	to {
	  transform: rotate(360deg);
	}
}
.underline-nb {
	width: 128px;
	height: 4px;
	background: var(--clr-primary-5);
	border-radius: 12px;
}

.btn {
	display: inline-block;
	background-color: transparent;
	border: 1px solid transparent;
	outline: none;
	border-radius: 4px;
	user-select: none;
	text-align: center;
	cursor: pointer;
	transition: .2s all ease;
}
.btn-prim {
	color: #fff;
	background-color: var(--clr-primary-5);
	border-color: var(--clr-primary-5);
}
.btn-prim:hover {
	background-color: var(--clr-primary-4);
	border-color: var(--clr-primary-4);
}
.btn-blue {
	color: #fff;
	background-color: #007bff;
	border-color: #007bff;
}
.btn-blue:hover {
	background-color: #0069d9;
	border-color: #0062cc;
}
.btn-red {
	color: #fff;
	background-color: #dc3545;
	border-color: #dc3545;
}
.btn-red:hover {
	background-color: #c82333;
	border-color: #bd2130;
}
.btn-dark {
	color: #fff;
	background-color: #343a40;
	border-color: #343a40;
}
.btn-dark:hover {
	background-color: #23272b;
	border-color: #1d2124;
}
.btn-warning {
	color: #212529;
	background-color: #ffc107;
	border-color: #ffc107;
}
.btn-warning:hover {
	background-color: #e0a800;
	border-color: #e0a800;
}
.btn-green {
	color: #fff;
	background-color: #28a745;
	border-color: #28a745;
}
.btn-green:hover {
	background-color: #218838;
	border-color: #1e7e34;
}
.btn-teal {
	color: #fff;
	background-color: #17a2b8;
	border-color: #17a2b8;
}
.btn-teal:hover {
	background-color: #138496;
	border-color: #117a8b;
}

@media (min-width: 1400px){
	.containerBoot { max-width: 1320px; }
}
@media (min-width: 1200px) and (max-width: 1399px){
	.containerBoot { max-width: 1140px; }
}
@media (min-width: 992px) and (max-width: 1199px){
	.containerBoot { max-width: 960px; }
}
@media (min-width: 768px) and (max-width: 991px){
	.containerBoot { max-width: 740px; }
}
@media (min-width: 576px) and (max-width: 767px){
	.containerBoot { max-width: 540px; }
}
@media (max-width: 575px){
	.containerBoot { width: 90%; }
}

@media (min-width: 1536px){
}
@media (min-width: 1280px){
}
@media (min-width: 1024px){
}
@media (min-width: 768px){
}
@media (min-width: 640px){
}
@media (max-width: 639px){
	.container { max-width: 90%; }
}
